<header class="navbar navbar-dark sticky-top bg-dark flex-md-nowrap p-0 shadow">
  <a class="navbar-brand col-md-3 col-lg-2 me-0 px-3" href="#">Balansee</a>
  <button class="navbar-toggler position-absolute d-md-none collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#sidebarMenu" aria-controls="sidebarMenu" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <input class="form-control form-control-dark w-100" type="text" placeholder="Search" aria-label="Search">

  <button type="button" class="btn btn-secondary has-popover" data-bs-container="body" data-bs-toggle="popover" data-bs-placement="bottom" data-bs-html="true" data-bs-content='<%=@balances%>'>
    Balance
  </button>

  <div class="dropdown">
    <button class="btn btn-secondary dropdown-toggle px-4" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
      Bienvenido
    </button>
    <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
      <li>
        <%= link_to profile_index_path, class: 'dropdown-item' do %>
          <i class="ni ni-single-02"></i>
          <span>Mi Usuario</span>
        <% end %>
      </li>
      <li>
        <div class="dropdown-divider"></div>
        <%= link_to destroy_user_session_path, method: :delete, class: 'dropdown-item' do %>
          <i class="ni ni-user-run"></i>
          <span>Cerrar Sesion</span>
        <% end %>
      </li>
    </ul>
  </div>

</header>